@page "/"

<div style="text-align:center; margin-top: 85px;">
    <a href="index.html"><img src="assets/img/yeniler/link.png" width="120px" height="120px"> &nbsp &nbsp &nbsp &nbsp &nbsp</a>
    <a href="index.html"><img src="assets/img/yeniler/özel_link.png" width="120px" height="120px"> &nbsp &nbsp &nbsp &nbsp &nbsp</a>
    <a href="index.html"><img src="assets/img/yeniler/whatsapp.png" width="120px" height="120px"> &nbsp &nbsp &nbsp &nbsp &nbsp</a>
    <a href="index.html"><img src="assets/img/yeniler/telefon.png" width="120px" height="120px"> &nbsp &nbsp &nbsp &nbsp &nbsp</a>
    <a href="index.html"><img src="assets/img/yeniler/mail.png" width="120px" height="120px"> &nbsp &nbsp &nbsp &nbsp &nbsp</a>
    <a href="index.html"><img src="assets/img/yeniler/sms.png" width="120px" height="120px"> &nbsp &nbsp &nbsp &nbsp &nbsp</a>
</div>
<input class="form-control" style="margin-top:10px" type="text">
<button id="button-fıstık" style="margin-top: 20px;">Kısalt</button>

<!--kutucuk-->


@code{
	
}
