@page "/scvfdhortlink"

<title>Linke Yönlendiriliyor</title>
<div id="appp" style="justify-content: center; align-items: center;"></div>    
<div style="text-align:center;">
    <p id="p-header">Link Adı</p>
    <p>Link Mesajı</p>
    <p>cart Tarafından oluşturuldu</p>
    <a class="navbar-brand flex-center" href="/"><img class="logo" style="width:40%" src="assets/img/logo_full.png" alt="open enterprise" /></a>
</div>

@code {
    [Parameter]
    public string shortlink { get; set; }

}
